@font-face {
  font-family: 'Roboto-Light';
  src: url('fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Futura-Thin';
  src: url('fonts/Futura Book font.ttf') format('truetype');
}

body {
  margin: 0%;
  padding: 0%;
  background-color: rgba(185, 179, 179, 0.232);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

header {
  top: 0;
  height: 18vw;
  width: 100vw;
  background-color: #1e2021;
  /*box-sizing: border-box;*/
  position: sticky;
  box-shadow: 1px 1px 5px 1px gray;
}

footer {
  bottom: 0;
  height: 17vw;
  width: 100vw;
  margin-top: auto;
  background-color: #1e2021;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 5px 1px gray;
}

footer a {
  color: #f0f2b3;
  font-family: Roboto-Light;
  font-size: 4.5vw;
  font-weight: 600;
}

#nav-hr {
  display: none;
}

.nav {
  top: 17vw;
  height: 100%;
  width: 100%;
  position: fixed;
  display: none;
  background-color: #1e2021;
}

input[type='checkbox'] {
  display: none;
}

.logo {
  font-family: Roboto-Light;
  color: whitesmoke;
  display: inline-block;
  margin-top: 0%;
  padding-top: 5vw;
  padding-left: 3vw;
  vertical-align: middle;
  font-size: 8vw;
  width: 85%;
}

.unchecked {
  font-family: Roboto-Light;
  font-size: 6vw;
  color: #f0f2b3;
}

.menu {
  width: 100vw;
  text-align: center;
  display: block;
  position: relative;
  padding-left: 0;
  padding-top: 0%;
}

.menu a {
  display: block;
  color: whitesmoke;
  font-size: 5.5vw;
  line-height: 9vw;
}

.menu a:hover {
  background-color: whitesmoke;
}

.menu li {
  width: 100%;
  font-family: Roboto-Thin;
  font-size: 2vw;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#side-menu:checked~nav {
  max-height: 45vw;
  display: block;
}

#side-menu:checked~#nav-hr {
  display: block;
}

.portrait-photo {
  max-width: 50vw;
  max-height: 50vw;
}

#photo-intro-section {
  display: inline-flex;
  background-color: #f0f2b3;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

#photo-intro-text {
  /*width: 50vw;*/
  padding-left: 3%;
  padding-right: 2%;
  display: block;
  font-size: 4vw;
  font-family: Futura-Thin;
}

.about-page~.about {
  color: #f0f2b3;
}

.information-section {
  display: block;
  padding-top: 2%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 2%;

  /*background-color: gray;*/
}

.information-section h2 {
  margin: 0;
  font-size: 6vw;
  font-family: Futura-Thin;
}

.information-section p {
  font-family: Roboto-Light;
  text-align: justify;
  font-size: medium;
  font-size: 4vw;
}

.link-section {
  background-color: rgba(0, 0, 0, 0.79);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2vw;
  padding-right: 2vw;
  margin: 0;
}

.link-section h5 {
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 0;
  padding-top: 5vw;
  margin-bottom: 0;
  color: rgba(238, 237, 237, 0.955);
  text-align: center;
  font-family: Futura-Thin;
  font-weight: 900;
  font-size: 3.5vw;
}

.link-button {
  width: fit-content;
  height: fit-content;
  font-size: 3.5vw;
  margin-top: 5vw;
  margin-bottom: 5vw;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  border: 0.4vw solid #f0f2b3;
  color: #f0f2b3;
  background-color: transparent;
  border-radius: 2vw;
  font-family: Futura-Thin;
  font-weight: 900;
}

.link-button:hover {
  background-color: #f0f2b3;
}

.article-img {
  height: 35vw;
  width: 100vw;
  margin: 0;
}

.contact-container {
  height: 10vh;
  /*width: 90vw;*/
  background-color: rgba(0, 0, 0, 0.837);
  font-size: 5vw;
  margin: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eef272f5;
  font-family: Roboto-Bold;
  box-shadow: 1px 1px 1px 1px gray;
}

.contact-container i {
  padding-right: 5vw;
}

.contact-banner {
  width: 100%;
  height: 20vh;
  align-self: center;
  /*display: flex;*/
  align-items: center;
  background-color: #edf08f;
  margin-bottom: 5vh;
  box-shadow: -6px 0 white, 6px 0 white, 0px 3px 4px 0px gray;

  display: none;
}

.contact-banner i {
  font-size: 12vh;
  margin-left: 3vw;
  transform: rotate(-30deg);
  color: rgba(0, 0, 0, 0.79);
}

.contact-banner p {
  font-family: Futura-Thin;
  margin-left: 2vw;
  color: rgba(0, 0, 0, 0.79);
  font-weight: 200;
  font-size: 4vw;
}

.skills-banner {
  align-self: center;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 18vh;
  margin-bottom: 4vh;
  background-color: #e2cb3ad0;
  box-shadow: -6px 0 white, 6px 0 white, 0px 3px 4px 0px gray;
  display: none;
}

.skills-banner i {
  margin-right: 10vh;
  font-size: 8vh;
  color: rgba(0, 0, 0, 0.79);
}

.skills-name {
  text-align: right;
  font-family: Futura-Thin;
  padding-right: 10vw;
  font-size: 6.5vw;
  font-weight: 600;
}

.skills-item {
  width: 90%;
  font-size: 5vw;
  font-weight: 600;
  font-family: Futura-Thin;
}

.skill {
  display: block;
  justify-content: space-between;
  padding-left: 10vw;
  padding-right: 10vw;
}

.container {
  width: 100%;
  background-color: #d2d2d2;
}

.skills-scale {
  padding-top: 3vw;
  padding-bottom: 3vw;
  border-color: #1e2021;
}

.cpp {
  box-sizing: border-box;
  padding-right: 5vw;
  width: 70%;
  background-color: #e2cb3ad0;
  text-align: end;
  color: rgba(0, 0, 0, 0.533);
  font-weight: 700;
  font-size: 5vw;
  font-family: Roboto-Light;
}

.html {
  box-sizing: border-box;
  padding-right: 5vw;
  width: 50%;
  background-color: #e2cb3ad0;
  text-align: end;
  color: rgba(0, 0, 0, 0.533);
  font-weight: 700;
  font-size: 5vw;
  font-family: Roboto-Light;
}

.python {
  box-sizing: border-box;
  padding-right: 5vw;
  width: 80%;
  background-color: #e2cb3ad0;
  text-align: end;
  color: rgba(0, 0, 0, 0.533);
  font-weight: 700;
  font-size: 5vw;
  font-family: Roboto-Light;
}

.skill-list {
  list-style: circle;
  float: right;
  background-color: #ddd;
  margin-bottom: 5vh;
}

.skill-list li {
  font-size: 4.5vw;
  font-family: Roboto-Light;
}

.project {
  display: flex;
  flex-direction: column;
}

.project h3 {
  padding-left: 5vw;
  padding-right: 5vw;
  font-size: 5vw;
  font-family: Futura-Thin;
}

.project article {
  padding-left: 5vw;
  padding-right: 5vw;
  font-size: 4.5vw;
  font-family: Roboto-Light;
}

.project-text {
  padding-left: 5vw;
  padding-right: 5vw;
  font-size: 4.3vw;
  font-family: Roboto-Light;
  font-weight: 500;
}

.project-text h2 {
  font-family: Futura-Thin;
}

.project-code {
  margin: 5vw;
  width: 90vw;
  background-color: rgba(0, 0, 0, 0.79);
  overflow-y: scroll;
  color: white;
  font-size: 3.5vw;
}

.github-button {
  width: 50vw;
  height: 10vw;
  margin-left: 25vw;
  margin-right: 25vw;
  margin-bottom: 5vw;
  font-family: Futura-Thin;
  border-radius: 15px;
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.79);
  color: rgba(0, 0, 0, 0.79);
  font-size: 3.2vw;
}

.github-button:hover {
  background-color: #f0f2b3;
  color: rgba(0, 0, 0, 0.79);
}

.learn-more {
  display: flex;
  justify-content: center;
}

.learn-more button {
  color: rgba(0, 0, 0, 0.79);
  border-color: rgba(0, 0, 0, 0.79);
}

@media only screen and (min-width: 600px) {

  header {
    height: 10vw;
  }

  footer {
    height: 10vw;
  }

  footer a {
    font-size: 3vw;
  }

  .nav {
    top: 10vw;
  }


  .logo {
    padding-top: 2vw;
    font-size: 6vw;
    width: 87%;
  }

  .unchecked {
    font-size: 5vw;
  }

  .menu a {
    font-size: 4vw;
    line-height: 6vw;
  }

  .menu a:hover {
    color: #1e2021;
  }

  .portrait-photo {
    max-width: 35vw;
    max-height: 35vw;
  }

  #photo-intro-section {
    margin: 2vw;
    padding: 1.5vw 2vw 1.5vw 2vw;
  }

  #photo-intro-text {
    /*width: 50vw;*/
    padding-left: 4%;
    padding-right: 2%;
    font-size: 2.7vw;
  }

  #side-menu:checked~nav {
    max-height: 28vw;
  }

  .information-section {
    padding: 2vw 3vw 2vw 3vw;

    /*background-color: gray;*/
  }

  .information-section h2 {
    font-size: 4vw;
  }

  .information-section p {
    font-size: 3vw;
  }

  .link-section {
    height: 22vw;
    margin: 0 3vw 0 3vw;
  }

  .link-section h5 {
    font-weight: 800;
    font-size: 2.7vw;
  }

  .link-button {

    font-size: 2.7vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    font-weight: 800;
  }

  .article-img {
    height: 29vw;
    width: 94vw;
    margin-left: 3vw;
    margin-right: 3vw;
  }

  .contact-container {
    height: 6vh;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 3vw;
    background-color: rgba(0, 0, 0, 0.79);
    box-shadow: none;
  }

  .skills-name {
    font-size: 4vw;
  }

  .skills-item {
    font-size: 3vw;
  }

  .skills-scale {
    padding-top: 1vw;
    padding-bottom: 1vw;
  }

  .cpp {
    font-size: 3vw;
  }

  .html {
    font-size: 3vw;
  }

  .python {
    font-size: 3vw;
  }

  .skill-list {
    margin-bottom: 3vh;
  }

  .skill-list li {
    font-size: 2.7vw;
  }

  .project h3 {
    font-size: 4vw;
  }

  .project article {
    font-size: 2.7vw;
  }

  .project-text {
    font-size: 2.7vw;
  }

  .project-text h2 {
    font-size: 4vw;
  }

  .project-code {
    font-size: 2.5vw;
  }

  .github-button {
    height: 6vw;
    font-size: 2.7vw;
  }
}

@media only screen and (min-width: 1000px) {

  header {
    display: flex;
    align-items: center;
    height: 8vh;
  }

  footer {
    height: 8vh;
  }

  footer a {
    font-size: 2.5vh;
  }

  body {
    background-color: transparent;
  }

  main {
    width: 75%;
    min-height: 84vh;
    align-self: center;
    background-color: rgba(185, 179, 179, 0.232);
    display: flex;
    flex-direction: column;
  }

  .nav {
    top: 0;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
  }

  .logo {
    /*padding-top: 1.5vh;*/
    padding-left: 1.7vw;
    font-size: 4vh;
    width: 80%;
  }

  .unchecked {
    display: none;
  }

  .menu {
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding-top: 0%;
  }

  .menu a {
    font-size: 3vh;
    line-height: 2vh;
  }

  .menu a:hover {
    color: #f0f2b3;
    background-color: transparent;
  }

  .menu li {
    width: fit-content;
    padding: 0 1vw 0 1vw;
    font-family: Roboto-Thin;
    font-size: 5vh;
  }

  .portrait-photo {
    max-width: 17vw;
    max-height: 17vw;
  }

  #photo-intro-text {
    padding-left: 6%;
    font-size: 2.5vh;
  }

  .about-page~.about {
    color: #f0f2b3;
  }

  .information-section {
    padding-top: 1%;
    padding-bottom: 1%;

    /*background-color: gray;*/
  }

  .information-section h2 {
    font-size: 3.5vh;
  }

  .information-section p {
    font-size: 2.7vh;
  }

  .link-section {
    width: 70vw;
    height: 12vw;
    padding: 0;
    margin: 0 2vw 0 2vw;
  }

  .link-section h5 {
    margin-top: 4vh;
    padding: 0;
    font-size: 2.3vh;
  }

  .link-button {
    font-size: 2vh;
    margin-top: 2vw;
    margin-bottom: 2vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border: 0.4vh solid #f0f2b3;
    border-radius: 2vh;
  }

  .link-button:hover {
    color: rgba(0, 0, 0, 0.79);
  }

  .article-img {
    justify-self: center;
    height: 20vw;
    width: 70vw;
    margin: 0 2vw 0 2vw;
  }

  .contact-container {
    height: 7vh;
    width: 60vw;
    background-color: rgba(0, 0, 0, 0.79);
    align-self: center;
    font-size: 3vh;
    margin: 1vw;
  }

  .contact-banner {
    display: flex;
  }

  .contact-container i {
    padding-right: 2vw;
  }

  .skills-name {
    padding-right: 8vh;
    font-size: 2.5vw;
  }

  .skills-item {
    font-size: 3vh;
  }

  .skills-banner {
    display: flex;
  }

  .skills-scale {
    padding-top: 3vh;
    padding-bottom: 3vh;
  }

  .cpp {
    padding-right: 5vh;
    font-size: 3vh;
  }

  .html {
    padding-right: 5vh;
    font-size: 3vh;
  }

  .python {
    padding-right: 5vh;
    font-size: 3vh;
  }

  .skill-list {
    margin-bottom: 2vh;
  }

  .skill-list li {
    width: 51.5vw;
    font-size: 3vh;
  }

  .project h3 {
    font-size: 3vh;
  }

  .project article {
    font-size: 2.5vh;
  }

  .project-text {
    width: 90%;
    padding: 0;
    align-self: center;
    font-size: 2.5vh;
  }

  .project-text h2 {
    font-size: 4vh;
  }

  hr {
    color: #1e2021;
    width: 90%;
  }

  .project-code {
    width: 90%;
    margin-top: 3vh;
    margin-bottom: 4vh;
    align-self: center;
    font-size: 1.9vh;
  }

  .github-button {
    width: 50vh;
    height: 8vh;
    margin: 0;
    border-radius: 2vh;
    font-size: 2.5vh;
  }

  #github-button-pos {
    align-self: center;
    margin-bottom: 4vh;
  }

}